{% extends "base_home.html" %}

    {% block home-content %}


        <div>

          <h3>API Log Records</h3>


          <!--div id="vpr-records" class="fluid-container"> 
            <div id="record-header" class="row-fluid">
                <div class="span2">Time</div>
                <div class="span3">Path</div>
                <div class="span1">Method</div>
                <div class="span2">Query</div>
                <div class="span1">Result</div>
                <div class="span1">Client</div>
                <div class="span1">IP</div>
            </div>

            <div id="record-list">
                {% for item in logs %}
                <div class="single-record row-fluid">
                    <div class="span2">{{ item.time|date:"y-m-d H:i:s" }}</div>
                    <div class="span3">{{ item.path }} </div>
                    <div class="span1">{{ item.method }}</div>
                    <div class="span2">{{ item.query }}</div>
                    <div class="span1">{{ item.result }}</div>
                    <div class="span1">{{ item.client_id }}</div>
                    <div class="span1">{{ item.ip }}</div>
                </div>
                {% endfor %}
            </div>

          </div-->

          <div id="record-table">
          <table class="table table-condensed">
            <thead>
                <th class="col-time">Time</th>
                <th class="col-path">Path</th>
                <th class="col-method">Method</th>
                <th class="col-query">Query</th>
                <th class="col-result">Return</th>
                <th class="col-client">Client</th>
                <th class="col-ip">IP</th>
            </thead>
            <tbody>
                {% for item in logs %}
                <tr>
                    <td class="col-time">{{ item.time|date:"y-m-d H:i:s" }}</td>
                    <td class="col-path">{{ item.path }}</td>
                    <td class="col-method">{{ item.method }}</td>
                    <td class="col-query">{{ item.query }}</td>
                    <td class="col-result">{{ item.result }}</td>
                    <td class="col-client">{{ item.client_id }}</td>
                    <td class="col-ip">{{ item.ip }}</td>
                </tr>
                {% endfor %} 
            </tbody>
          </table>
          </div>

        </div>

        <style>
            #record-table {
                height: 400px;
                overflow: auto;
            }
        </style>

   {% endblock %}
