{% extends "base.html" %}


    {% block content %}

      {% load dashboard %}

      <div class="row-fluid">
        <div class="span2">
          {% render_dashboard_nav %}
       </div><!--/span-->
        <div class="span8">
            {% block home-content %} {% endblock %}           
        </div><!--/span-->
        <div class="span2">
          <div class="well well-small">
            Brief statistical information
          </div>
        </div>
      </div><!--/row-->

    {% endblock %}
