{% extends "base_home.html" %}

    {% block home-content %}

        <h3>Create API Client</h3>

        <div class="well">

          <form action="." method="post" class="form-horizontal">

            {% csrf_token %}

            {{ form.as_p }}

            <div class="control-group">
                <button type="submit" class="btn btn-primary">Add New Client</button>
                <a href="/dashboard/clients/" class="btn">Cancel</a>
            </div>
            
          </form>

        </div>

   {% endblock %}
