{% extends "base_home.html" %}

    {% block home-content %}

        <div>

          <h3>API Statistics</h3>

          <div id="vpr-stats-00" style="align:left; width: 100%; height: 300px;"></div>

          <!--table class="table table-striped table-bordered">
            <tr>
              <th>Token</td>
              <th>Client</td>
              <th>Valid From</td>
              <th>Valid To</td>
            </tr> 
            {% for token in tokens %}
            <tr>
              <td>{{ token.token }}</td>
              <td><a href="/dashboard/clients/{{ token.client.id }}/">{{ token.client.client_id }}</a></td>
              <td>{{ token.since }}</td>
              <td>{{ token.expire }}</td>
            </tr> 
            {% endfor %}
          </table>
        
          <div>
            <a href="/dashboard/clients/add/" class="btn btn-primary">New API Client</a>
          </div-->
          
        </div>

        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
        </script>
        <script type="text/javascript">
        function drawVisualization() {
            // Create and populate the data table.
            var data_old = google.visualization.arrayToDataTable([
            ['x', 'Aggregated', 'GET', 'POST'],
            ['A',   1,       1,           0.5],
            ['B',   2,       0.5,         1],
            ['C',   4,       1,           0.5],
            ['D',   8,       0.5,         1],
            ['E',   7,       1,           0.5],
            ['F',   7,       0.5,         1],
            ['G',   8,       1,           0.5],
            ['H',   4,       0.5,         1],
            ['I',   2,       1,           0.5],
            ['J',   3.5,     0.5,         1],
            ['K',   3,       1,           0.5],
            ['L',   3.5,     0.5,         1],
            ['M',   1,       1,           0.5],
            ['N',   1,       0.5,         1]
            ]);
        
            var data = google.visualization.arrayToDataTable({{ chart_data|safe }});
            // Create and draw the visualization.
            new google.visualization.LineChart(document.getElementById('vpr-stats-00')).
                draw(data, {curveType: "function",
                            vAxis: {title: "Requests",},
                            hAxis: {title: "Time",},
                           }
                    );
        }
        

        google.setOnLoadCallback(drawVisualization);
        </script>

   {% endblock %}
